p,img{
	margin:0px 0px !important;
}
.wrapper{
	background-color: #ffffff;
	margin:0 auto;
	width:794px;
	font-family: Roboto;
	font-stretch: normal;
	font-style: normal;
}
	.page{
		width:100%;
		height:1123px; 
	}
		.header{
			display:flex;
			padding:36px 20px 0px 40px;
			justify-content:space-between;
		}
			.header .url{
				text-decoration: none;
				font-size: 16px;
				margin-top: 8px;
				color:#00aaff;
			}
			.logo{
				width:60px;
				height:60px;
			}

	.body{
		padding:40px 40px;
	}
		.res_row{
			display:flex;
			padding-top:40px;
			justify-content:space-between;
			margin-top: -28px;
		}
		.res_col{
			width: 50%;
		}
		.res_col_2{
			width:50%;
			padding-left: 52px;
		}
		.res_col_3{
			width:100%;
		}			
			
.heading{
	font-size: 20px;
	color:#333333;
	font-weight: normal;
}
	.underline{
		margin:2px 0px 8px 0px;
		width:330px;
		height:2px;
		color:rgba(0, 0, 0, 0.1);
		border:0;
		border-top: 2px solid #eee;
	}
	.underline_3{
		margin:2px 0px 8px 0px;
		width:590px;
		height:2px;
		color:rgba(0, 0, 0, 0.1);
		border:0;
		border-top: 2px solid #eee;
	}

.introduction{
	margin-bottom: 30px;
}
	.employee_name{
		font-size: 24px;
		color:#333333;
		font-weight: normal;
	}
	.employee_position{
		font-size: 20px;
		color:#666666;
		font-weight: 300;
	}
	.employee_location{
		font-size: 20px;
		color:#333333;
		font-weight: normal;
		display: inline-block;
		margin-top: 12px!important;
	}
.summary{
	
  	font-size: 16px;
  	font-weight: 300;  	
  	color: #666666;
}
	.summary_content{
		margin-bottom:28px !important;
		padding-right: 1px;
	}

.education{
	display:flex;
	flex-direction:column;
}
	.education_block{
		margin:0px 10px 28px 0px;
		display: flex;
		align-items:center;
	}
		.education_img{
			height: 44px;
			width:44px;
			vertical-align: center;
		}
		.education_content{
			padding-left: 28px;
		}
		.education_name{
  			font-size: 16px;
  			font-weight: normal;
  			color: #333333;
		}
		.education_course{
		  	font-size: 16px;
		  	font-weight: 300;
		  	color: #666666;
		  	margin:8px 0px 4px 0px !important;
		}
		.education_time{
			font-size: 16px;
			font-weight: normal;
			color: #333333;
		}

.skills{
	display: flex;
	flex-direction:column;
}

	.skill_heading{
		color:#333333;
		font-size: 16px;
	  	font-weight: normal;
	}
	.skill_image{
		margin:0px 8px 4px 0px !important;
	}
	.skill_images{
		display:flex;
		flex-wrap:wrap;
		margin:4px 0px 8px 0px;
	}

.work_experience{
	display:flex;
	flex-direction:column;
}
	.work_experience_block{
		display: flex;
	}
		.work_experience_vector{
			width:28px;
			display:flex;
			flex-direction:column;
			align-items:center;
		}
			.vector-image{
				padding-right: 12px;
			}
			.vector-image_1{
				margin:4px 0px !important;
				padding-right: 12px;
			}

		.work_ex_designation{
  			font-size: 16px;
  			font-weight: normal;
  			color: #333333;
  			display:inline-block;
  			margin-bottom: 4px!important;
		}
		.work_ex_time{
			font-size: 12px;
			font-weight: 300;	
	  		color: #666666;
	  		display:inline-block;
		}
		.work_ex_organisation,.work_ex_place{
			font-size: 16px;
		  	font-weight: 300;
		  	color: #666666;
		}
		.work_ex_place{
			margin-bottom:12px !important;
		}

.project{
	display: flex;
	flex-direction:column;
}
	.project_block{
		margin-bottom: 40px;
		display: flex;
		flex-direction:column;
	}
		.project_name,.project_name_1{
		  	font-size: 16px;
		  	font-weight: normal;
		  	color: #333333;
		  	display: inline-block;
		}
		.project_name_1{
			font-weight: 300;
		}
		.side-heading{
		  	font-size: 16px;
		  	font-weight: normal;
		  	color: #333333;
		  	margin-top: 12px;
		}
		.project_content{
  			font-size: 16px;
		  	font-weight: 300;
		  	color: #666666;
		  	margin-top: 4px;
		}
		.project_images{
			display:flex;
			flex-wrap:wrap;
			margin: 4px 0px 8px 0px;
		}
			.project_image{
				margin:0px 8px 4px 0px !important;
			}