<!Doctype html>
<html>
<head>
	<title>Resume</title>
	<link rel="stylesheet" type="text/css" href="./css/page2.css">

	<link rel="stylesheet" type="text/css" href="./scripts/bootstrap.css">
	<link rel="stylesheet" href="./scripts/bootstrap-select.min.css">

	<script src="./scripts/jquery.min.js"></script>
  	<script src="./scripts/bootstrap.min.js"></script>
  	<script src="./scripts/bootstrap-select.min.js"></script>
  	<script href="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>  	

</head>
<body>
	<div class="wrapper">
		<div class="header">
			<img src="./images/logo.png"/>
			<a href="./zemosolabs" class="url">www.zemosolabs.com</a>
		</div>
		<div class="body">					
			<p class="heading">IMPLEMENTATION EXPERIENCE AT ZEMOSO TECHNOLOGIES:</p>
			<hr class="underline_3">
			<div id="project" class="project">
				<div class="project_block">
					<div>
						<p class="project_name">Project Name:</p>
						<p class="project_name_1">Project 1</p>
					</div>
				
					<div class="side-heading">
						<p>Description:</p>
					</div>
					<div class="project_content">
						<p>A web-based product that pulls together global agricultural data, structures it into a common language, and lets users discover data at unprecedented scale. The trillions of data points, and over 6.4 million (and constantly growing) data series represent the most extensive collection of agricultural data in a single product.</p>
					</div>
					
					<div class="side-heading">
						<p>Technologies:</p>
					</div>	
					<div class="project_images">
						<img class="project_image" src="./images/technologies/ANGULARJS_WT.png">
						<img class="project_image" src="./images/technologies/AWS_WT.png">
						<img class="project_image" src="./images/technologies/AZURE_WT.png">
						<img class="project_image" src="./images/technologies/Android_WT.png">
						<img class="project_image" src="./images/technologies/C_WT.png">
					</div>
					<div class="side-heading">
						<p>Contribution:</p>
					</div>
					<div class="project_content">
						<p>to-be-filled-in-by employee</p>
					</div>
					<div class="side-heading">
						<p>Duration:</p>
					</div>
					<div class="project_content">
						<p>to-be-filled-in-by employee</p>
					</div>
						
				</div>
				<div class="project_block">
					<div>
						<p class="project_name">Project Name:</p>
						<p class="project_name_1">Project 1</p>
					</div>
				
					<div class="side-heading">
						<p>Description:</p>
					</div>
					<div class="project_content">
						<p>A web-based product that pulls together global agricultural data, structures it into a common language, and lets users discover data at unprecedented scale. The trillions of data points, and over 6.4 million (and constantly growing) data series represent the most extensive collection of agricultural data in a single product.</p>
					</div>
					
					<div class="side-heading">
						<p>Technologies:</p>
					</div>	
					<div class="project_images">
						<img class="project_image" src="./images/technologies/ANGULARJS_WT.png">
						<img class="project_image" src="./images/technologies/AWS_WT.png">
						<img class="project_image" src="./images/technologies/AZURE_WT.png">
						<img class="project_image" src="./images/technologies/Android_WT.png">
						<img class="project_image" src="./images/technologies/C_WT.png">
					</div>
					<div class="side-heading">
						<p>Contribution:</p>
					</div>
					<div class="project_content">
						<p>to-be-filled-in-by employee</p>
					</div>
					<div class="side-heading">
						<p>Duration:</p>
					</div>
					<div class="project_content">
						<p>to-be-filled-in-by employee</p>
					</div>
						
				</div>
			</div>
		</div>
	</div>
</body>
</html>