<!Doctype html>
<html>
<head>
	<title>Resume</title>
	<link rel="stylesheet" type="text/css" href="./css/page1.css">

	<link rel="stylesheet" type="text/css" href="./scripts/bootstrap.css">
	<link rel="stylesheet" href="./scripts/bootstrap-select.min.css">

	<script src="./scripts/jquery.min.js"></script>
  	<script src="./scripts/bootstrap.min.js"></script>
  	<script src="./scripts/bootstrap-select.min.js"></script>
  	<script href="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>  	

</head>
<body>
	<div class="wrapper">
		<div class="header">
			<img src="./images/logo.png"/>
			<a href="./zemosolabs" class="url">www.zemosolabs.com</a>
		</div>
		<div class="body">			
			<div class ="employee_name">
				<p>Employee Name</p>
			</div>
			<div class="res_row">
				<div class="res_col">
					<p class="heading">SUMMARY</p>
					<hr class="underline">
					<div class="summary">
						<p><> is a Software Engineer currently employed with ZeMoSo Technologies Pvt. Ltd. He has around three and half years of experience in analysis, design, development and testing of web applications.</p>
						<br>
						<p><> has extensive exposure to server side frameworks like J2EE, node.js and has worked extensively in both relational databases (PostgreSQL and ORACLE) and No-Sql databases (Dynamo DB</p>
					</div> 
				</div>
				<div class="res_col_2">
					<p class="heading">EDUCATION</p>
					<hr class="underline_2">
					<div id="education" class="education">
						<div class="education_block">
							<div>
								<img class="education_img"src="./images/university/IITR New Logo.jpg"/>
							</div>
							<div>
								<p class="education_name">JNTU, Hyderabad</p>
								<p class="education_course">Bachelor Of Technology in Information Technology (Dual)</p>
								<p class="education_time">From 2006 to 2010 </p>
							</div>
						</div>
						<div class="education_block">
							<div>
								<img class="education_img"src="./images/university/IITR New Logo.jpg"/>
							</div>
							<div>
								<p class="education_name">JNTU, Hyderabad</p>
								<p class="education_course">Bachelor Of Technology in Information Technology (Dual)</p>
								<p class="education_time">From 2006 to 2010 </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="res_row">
				<div class="res_col">
					<p class="heading">WORK EXPERIENCE</p>
					<hr class="underline">
					<div id="work_experience"class="work-experience">
						<div class="work_experience_block">
							<div class="work_experience_vector"></div>
							<div class="work_experience_content">
								<p class="work_ex_designation">Designation</p>
								<p class="work_ex_time">(Time period Eg: Jan 2016 to Oct 2016)</p>
								<p class="work_ex_organisation">Organisation Name, </p>
								<p class="work_ex_place">City, Country</p>
							</div>
						</div>
						<div class="work_experience_block">
							<div class="work_experience_vector"></div>
							<div class="work_experience_content">
								<p class="work_ex_designation">Designation</p>
								<p class="work_ex_time">(Time period Eg: Jan 2016 to Oct 2016)</p>
								<p class="work_ex_organisation">Organisation Name, </p>
								<p class="work_ex_place">City, Country</p>
							</div>
						</div>	
						<div class="work_experience_block">
							<div class="work_experience_vector"></div>
							<div class="work_experience_content">
								<p class="work_ex_designation">Designation</p>
								<p class="work_ex_time">(Time period Eg: Jan 2016 to Oct 2016)</p>
								<p class="work_ex_organisation">Organisation Name, </p>
								<p class="work_ex_place">City, Country</p>
							</div>
						</div>	
						<div class="work_experience_block">
							<div class="work_experience_vector"></div>
							<div class="work_experience_content">
								<p class="work_ex_designation">Designation</p>
								<p class="work_ex_time">(Time period Eg: Jan 2016 to Oct 2016)</p>
								<p class="work_ex_organisation">Organisation Name, </p>
								<p class="work_ex_place">City, Country</p>
							</div>
						</div>		
					</div>
				</div>
				<div class="res_col_2">
					<p class="heading">SKILLS</p>
					<hr class="underline_2">
					<div id="skills" class ="skills">
						<div class="skill_heading">
							<p>Server Side:</p>
						</div>
						<div class="skill_images">
							<img class="skill_image" src="./images/technologies/ANGULARJS_WT.png">
							<img class="skill_image" src="./images/technologies/AWS_WT.png">
							<img class="skill_image" src="./images/technologies/AZURE_WT.png">
							<img class="skill_image" src="./images/technologies/Android_WT.png">
							<img class="skill_image" src="./images/technologies/C_WT.png">
						</div>
						<div class="skill_heading">
							<p>Front End:</p>
						</div>
						<div class="skill_images">
							<img class="skill_image" src="./images/technologies/Bootstrap_WT.png">
							<img class="skill_image" src="./images/technologies/Celery_WT.png">
							<img class="skill_image" src="./images/technologies/Devops_WT.png">
							<img class="skill_image" src="./images/technologies/React JS.png">
							<img class="skill_image" src="./images/technologies/HDFS_WT.png">
						</div>
						<div class="skill_heading">
							<p>DataBases:</p>
						</div>
						<div class="skill_images">
							<img class="skill_image" src="./images/technologies/Mongo DB_WT.png">
							<img class="skill_image" src="./images/technologies/MySQL_WT.png">
							<img class="skill_image" src="./images/technologies/PHP_WT.png">
							<img class="skill_image" src="./images/technologies/Perl.png">
							<img class="skill_image" src="./images/technologies/R.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>