<html>
<head>
	<title></title>
</head>
<body>
<h2>Doesn't exist</h2>
<h4>please enter a valid ID</h4>
<form action="/getresume" method="POST">
		<input 
			class="form-control" 
			type="text" 
			name="employee_id"
			placeholder="Employee ID"/>
			<button class="submit" type="submit">Submit</button>		
	</form>
</body>
</html>