<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./scripts/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div style="display:flex;justify-content:center;font-size:18px">
                <div class="navbar-header">
                    <p class="navbar-brand" style="color:#ff751a;font-weight:800">Zemoso</p>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-center">
                        <li><a href="/">Add New</a></li>
                        <li><a href="/resumes">Resumes</a></li>
                        <li><a href="/masterdb">Master DB</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/getresume" method="POST">
            <div class="input-group">
                <input type="text" class="form-control" name="employee_id" placeholder="Employee ID">
                <span class="input-group-btn">
		        <button class="btn btn-secondary" type="submit">Search</button>
		      </span>
            </div>
        </form>
    </div>
</body>

</html>