p,img{
	margin:0em 0em !important;
}
body{
	margin:0px 0px 0px 0px;
}
.wrapper{
	background-color: #ffffff;
	margin:0px auto;
	width:49.6em;
	font-family: Roboto;
	font-stretch: normal;
	font-style: normal;
}
	.indexpage{
		width: 100%;
		/*min-height: 72.8125em; #70.5315em;*/
	}
	.page{
		width:100%;
		/*min-height: 73.3125em; #71.0315em; */
		page-break-before: always;
	}
		.header{
			display:flex;
			padding:2.25em 1.25em 0em 2.5em;
			justify-content:space-between;
		}
			.header .url{
				text-decoration: none;
				font-size: 1em;
				margin-top: 0.5em;
				color:#6ad0e1;
			}
			.logo{
				width:3.75em;
				height:3.75em;
			}

	.body{
		padding:2.5em 2.5em 0em 2.5em;
	}
		.res_row{
			display:flex;
			padding-top:1.875em;
			justify-content:space-between;
			margin-top: -1.75em;
		}
		.res_col{
			width: 50%;
		}
		.res_col_2{
			width:50%;
			padding-left: 3.25em;
		}
		.res_col_3{
			width:100%;
		}
			
.heading{
	font-size: 1.25em;
	color:#333333;
	font-weight: normal;
}
	.underline{
		margin:0.0625em 0em 0.5em 0em;
		width:20.625em;
		height:0.0625em;
		color:rgba(0, 0, 0, 0.1);
		border:0;
		border-top: 0.0625em solid #eee;
	}
	.underline_2{
		margin:0.0625em 0em 0.5em 0em;
		width:34.875em;
		height:0.0625em;
		color:rgba(0, 0, 0, 0.1);
		border:0;
		border-top: 0.0625em solid #eee;
	}
	.underline_3{
		margin:0.0625em 0em 0.5em 0em;
		width:25.875em;
		height:0.0625em;
		color:rgba(0, 0, 0, 0.1);
		border:0;
		border-top: 0.0625em solid #eee;
	}

.introduction{
	margin-bottom: 1.75em;
}
	.employee_name{
		font-size: 1.5em;
		color:#333333;
		font-weight: normal;
	}
	.employee_position{
		font-size: 1.25em;
		color:#666666;
		font-weight: 300;
	}
	.employee_location{
		font-size: 1.25em;
		color:#333333;
		font-weight: normal;
		display: inline-block;
		margin-top: 0.75em!important;
	}
.summary{
	
  	font-size: 1em;
  	font-weight: 300;  	
  	color: #666666;
}
	.summary_content{
		margin-bottom:1.75em !important;
		padding-right: 0.0625em;
	}

.education{
	display:flex;
	flex-direction:column;
}
	.education_block{
		margin:0em 0.625em 1.75em 0em;
		display: flex;
		align-items:center;
	}
		.education_img{
			height: 2.875em;
			width:2.875em;
			vertical-align: center;
		}
		.education_content{
			padding-left: 1.75em;
		}
		.education_name{
  			font-size: 1em;
  			font-weight: normal;
  			color: #333333;
		}
		.education_course{
		  	font-size: 1em;
		  	font-weight: 300;
		  	color: #666666;
		  	margin:0.5em 0em 0.25em 0em !important;
		}
		.education_time{
			font-size: 1em;
			font-weight: 300;
			color: #333333;
		}

.skills{
	display: flex;
	flex-direction:column;
}

	.skill_heading{
		color:#333333;
		font-size: 1em;
	  	font-weight: normal;
	}
	.skill_image{
		height:3.875em;
		margin:0em 0.5em 0.25em 0em !important;
	}
	.skill_images{
		display:flex;
		flex-wrap:wrap;
		margin:0.25em 0em 0.5em 0em;
	}

.work_experience{
	display:flex;
	flex-direction:column;
}
	.work_experience_block{
		display: flex;
	}
		.work_experience_vector{
			width:1.75em;
			display:flex;
			flex-direction:column;
			align-items:center;
		}
			.vector-image{
				padding-right: 0.75em;
			}
			.vector-image_1{
				margin:0.25em 0em !important;
				padding-right: 0.75em;
			}

		.work_ex_designation{
  			font-size: 1em;
  			font-weight: normal;
  			color: #333333;
  			display:inline-block;
  			margin-bottom: 0.25em!important;
		}
		.work_ex_time{
			font-size: 0.75em;
			font-weight: 300;	
	  		color: #666666;
	  		display:inline-block;
		}
		.work_ex_organisation,.work_ex_place{
			font-size: 1em;
		  	font-weight: 300;
		  	color: #666666;
		}
		.work_ex_place{
			margin-bottom:0.75em !important;
		}

.project{
	display: flex;
	flex-direction:column;
	position: relative;
}
	.project_block{
		margin-bottom: 2.5em;
		display: flex;
		flex-direction:column;
		position: relative;
	}
		.project_name,.project_name_1{
		  	font-size: 1em;
		  	font-weight: normal;
		  	color: #333333;
		  	display: inline-block;
		}
		.project_name_1{
			font-weight: 300;
		}
		.side-heading{
		  	font-size: 1em;
		  	font-weight: normal;
		  	color: #333333;
		  	margin-top: 0.75em;
		}
		.project_content{
  			font-size: 1em;
		  	font-weight: 300;
		  	color: #666666;
		  	margin-top: 0.25em;
		}
		.project_images{
			display:flex;
			flex-wrap:wrap;
			margin-bottom: -0.25em;
		}
			.project_image{
				height:3.875em;
				margin:0em 0.5em 0.25em 0em !important;
			}
.print:hover{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
#print{
	display: flex;
	justify-content:center;
}
.print{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-top:2em;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media print{
    #project_im{
        page-break-inside: auto!important;
        position:relative!important;
        display:inline-block;
    }
    #print{
    	display:none;
    }
}

